@import url("https://fonts.cdnfonts.com/css/sedan-sc");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 240, 21.31%, 11.96%;
    --primary: 240 21.05% 14.9%;
    --accent: 240 23% 9%;
    --secondary: 236.84 16.24% 22.94%;
    --foreground: 226.15 63.93% 88.04%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: "Sedan SC", sans-serif;
  }
}
